*{background-attachment: fixed;}



.pelota{
  position:fixed;
  animation:spin 50s linear infinite;
  left: 88%;
  top: 26%;
    width: 150px;

}


.cometa{
  position:fixed;
  left: 1%;
    top: 17%;
  width: 212px;
  filter: drop-shadow(0 0 2.75rem rgb(8, 252, 0));
  animation:comeme 5s linear infinite;   
  animation-direction: alternate
}


.peluza{
  position:fixed;
  animation:spin 50s linear infinite;
  left: 84%;
    top: 49%;
  width: 252px;
    filter: drop-shadow(0 0 2.75rem rgb(252, 0, 231));

}


@font-face {
  font-family: meta;
  src: url("z.otf") format("opentype");
}

.scrollable-element {
  scrollbar-color: red yellow;
}

.letra {
  font-size: 16vw;
  font-family: meta;
}

.meta {
  width: 96%;
  margin: auto;
 
}

.frame {
  /* background-color: green; */
  position: relative;
  width: 100vw;
  margin: 0 auto;

  overflow-y: scroll;
}

.absolute-contents-11 {
  position: fixed;
  left: 10%;
  top: 0%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

  opacity: .9;
}

.absolute-contents-21 {
  position: fixed;
  left: 23.4%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;

  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-31 {
  position: fixed;
  left: 34%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;  
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));


}

.absolute-contents-41 {
  position: fixed;
  left: 45.5%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-51 {
  position: fixed;
  left: 59%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-61 {
  position: fixed;
  left: 72%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-71 {
  position: fixed;
  left: 81%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 0.75rem rgb(112, 109, 109));

}

.absolute-contents-81{
  position: fixed;
  left: 91%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: .9;  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));


}


.absolute-contents-1 {
  position: fixed;
  left: 10%;
  top: 100%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

  opacity: .9;
}

.absolute-contents-2 {
  position: fixed;
  left: 23.4%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;

  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-3 {
  position: fixed;
  left: 34%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;  
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));


}

.absolute-contents-4 {
  position: fixed;
  left: 45.5%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-5 {
  position: fixed;
  left: 59%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-6 {
  position: fixed;
  left: 72%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));

}

.absolute-contents-7 {
  position: fixed;
  left: 81%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: .9;
  filter: drop-shadow(0 0 0.75rem rgb(112, 109, 109));

}

.absolute-contents-8 {
  position: fixed;
  left: 91%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: .9;  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
  filter: drop-shadow(0 0 2.75rem rgb(255, 255, 255));


}

.big-contents {
  position: relative;
  margin-top: 300px;
  margin-left: 300px;
  z-index: -3999;
  opacity: .9;
}

.img3{
 width: 100%;
 -webkit-animation:spin 15s linear infinite;
  -moz-animation:spin 15s linear infinite;
  animation:spin 15s linear infinite;
}
              
@keyframes comeme { 100% {  top: 60%;  } }


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.ab{
  width: 30%;
}

.m-angel{
  position: relative;
  width: 20%;
  z-index: 9999999;
}

.background .water {
  position: absolute;
  background-image: url("obras/atardecernegro.png");
  background-size: cover;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  filter: url("#turbulence");
}

.uu{
  display: flex;
  
}

.atar{
  width: 50%;
}

.uu1{
  width: 25%;
}

.uu11{
  width: 33.3%;
}

.uu2{
  width: 16.7%;
}

.uu3{
  width: 12.5%;
}
.uu4{
  width: 10%;
}

.uu5{
  width: 8.33%;
}

.uu6{
  width: 7.4%;
}



.bow2{
  width: 50%;}



.bordado{
  width: 100%;
}

.bow{
  transform: rotate(45deg);

}

.furby{
  width: 70%;
 

}

.msex{
  transform: scaleX(-1);
}

.payasito{

    display: flex;
    align-items: center;
    justify-content: center;

}

#cursor {
  position: relative;
  width: 100px;
  height: 100px;
}